* {
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

/* Add styles here! */
/*
Not super happy about:

- repeated numbers
- the way the borders don't seem to be applied with much principle; does main really have a top border, or does the header have a bottom border?
- mixing colors & positioning; feels like i ought to be able to split those out more logically. (but probably i'm just thinking of / wishing for something like acss.io's helper classes, which can build borders as a function of arguments.)
*/

main {
  background-color: gray;
  min-height: 100%;
  border-top: 8px solid #5a5a5a;
}

strong {
  color: #02b677;
}

.max-width-wrapper {
  max-width: 512px;
  margin-left: auto;
  margin-right: auto;
}

.intro-chunk {
  padding: 64px 16px;
  max-width: 320px;
}

.title {
  font-size: 16pt;
  margin-bottom: 32px;
}

.card {
  background-color: white;
  border-bottom: 8px solid #5a5a5a;
  padding: 16px;
  margin-top: 64px;
}

.indented-heading {
  background: #ffc000;
  border-bottom: 8px solid #b98a00;
  padding: 32px;
  margin-left: -32px;
  margin-top: -8px;
}
