* {
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

/* Add styles here! */

main {
  background-color: gray;
  min-height: 100%;
  border-top: 8px solid #5a5a5a;
}

.max-width-wrapper {
  max-width: 512px;
  margin-left: auto;
  margin-right: auto;
  padding: 32px;
}

.intro-chunk {
}

.title {
}

.card {
}

.indented-heading {
}
